
/*Media Query for small devices*/
@media(max-width: 1100px) {
/****HOME PAGE START****/
h1 {
	font-size: 46px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
}
.cta-btn {
	font-size: 14px;
	padding: 9px 25px;
	margin-top: 5px;
}
/****HOME PAGE END****/
}

@media(max-width: 991px) {
/****HOME PAGE START****/
h1 {
	font-size: 42px;
}
h2 {
	font-size: 34px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
.main-navigation .navbar-light .navbar-toggler {
	color: #bf6c2a;
	border-color: #bf6c2a;
	outline: none;
	box-shadow: none;
}
.main-navigation .navbar-toggler {
	padding: 2px 8px;
	font-size: 18px;
	background-color: #bf6c2a;
	border: 1px solid #bf6c2a;
}
.main-navigation .navbar-collapse {
	margin-top: 12px;
	border-top: 1px solid #bf6c2a;
	background: #bf6c2a;
}
.main-navigation .navbar .navbar-nav .nav-item {
	margin-left: 0;
}
.main-navigation .navbar .navbar-nav .nav-link {
	padding: 10px 14px;
}
header.smaller {
	background-color: rgba(0, 0, 0, 1);
}
header.smaller .main-navigation .navbar .navbar-nav .nav-link {
	font-size: 15px;
}
.values-section .content-block {
	gap: 30px;
}
.contact-section .content-block .headline-box p, .banner-section .content-block p, .about-section .headline-box p, .products-section .headline-box p, .message-section .content-block .message-box p {
	font-size: 18px;
}
/****HOME PAGE END****/
}

@media(max-width: 767px) {
/****HOME PAGE START****/
h1 {
	font-size: 38px;
}
.go-to-top {
	display: none;
}
.banner-section {
	padding: 200px 0px 120px 0px;
}
.values-section .content-block, .message-section .content-block {
	flex-direction: column;
	gap: 50px;
}
.values-section .content-block .content-box {
	width: 100%;
}
.about-section, .values-section, .contact-section, .products-section, .message-section {
    padding: 60px 0px;
}
.contact-section .content-block {
	padding: 70px 80px;
	width: 600px;
	height: 600px;
}
/****HOME PAGE END****/
}

@media(max-width: 667px) {
/****HOME PAGE START****/
.values-section .content-block .content-box .icon {
	max-width: 80px;
}
.contact-section {
	padding: 10px 0px;
}
.contact-section .content-block {
	padding: 50px 20px;
	border-radius: 0;
	width: 100%;
	height: auto;
}
.contact-section .content-block:before, .contact-section .content-block:after, .contact-section .content-block .overlay {
	border-radius: 0;
}
/****HOME PAGE END****/
}